html{
	font-family: "Lucida Console", Monaco, monospace;
}
nav{
	width: 100%;
	font-size: 22px;
}
nav > *{
	display: inline-block;
	height: 75px;
}
#logo{
	height: inherit;
	transform: translateX(-500px);
	animation: slide_in 0.5s forwards;
}
#nav{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;

}
.nav-item{
	display: inline-block;
}
.nav-item > a{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 1.8em;
	color: #bf1125;
}
.nav-item > a:hover, .dropdown-content > a:hover {
	background-color: #ffb8c0;
	animation: nav 0.2s;
	transform: scale(1.1);
}
.dropdown-content{
	display: none;
	position: absolute;
	margin-top: -1.4em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: white;
}
.dropdown-content > a{
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 0.5em;
	text-align: center;
}
.dropdown:hover > .dropdown-content{
	display: block;
}

/*content*/

#baner{
	margin-top: 1em;
	animation: show_in 0.5s;
}

article > h2{
	text-align: center;
}
article{
	margin: 1.5em;
	overflow: auto;
}
article > section{
	padding: 1.5em;
	font-size: 18px;
}

.member{
	margin: 2em;
	height: 20em;
}
.member-left{
	float: left;
	clear: left;
}
.member-right{
	float: right;
}
.arrow{
	font-size: 2em;
}

footer{
	text-align: center;
	color: #919191;
	font-size: 14px;
	border-top: 1px solid #919191;
}

/*Tour Schedule*/
.center-table{
	margin-top: 2em;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 10%;
}
.center-table > caption{
	margin-bottom: 1em;
	font-size: 25px;
	font-weight: bold;
}
.caption-row{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.table-row > td:nth-child(2){
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.table-row > td{
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 18px;
}
.table-row:nth-child(odd){
	background-color: #ffb8c0;
}

/*Animations*/
@keyframes slide_in{
	100% { transform: translateX(0); }
}
@keyframes show_in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes nav{
	50% {transform: scale(0.9);}
	100% { transform: scale(1.1); }
}