html{
	font-family: "Lucida Console", Monaco, monospace !important;
	height: 100%;
	min-height: 100%;
	position: relative;
}
body{
	min-height: 100vh;
	position: relative;
	padding-bottom: 65px;
}
#logo{
	max-height: 75px;
	animation: slide_in 0.7s forwards ease;
}
.nav-link:hover, .dropdown-item:hover {
	background-color: #ffb8c0;
	color: black;
	animation: nav 0.2s ;
	transform: scale(1.1);
}
.navbar, .dropdown-menu{
	font-size: 25px;
}
.nav-link, .dropdown-item{
	color: black !important;	
	border-radius: 30px;
}
li.dropdown:hover > .dropdown-menu{
	display: block;
}

/*content*/

.banner{
	animation: show_in 0.5s;
}
article > section{
	font-size: 18px;
}

.member{
	height: 20em;
}
.arrow{
	font-size: 2em;
}

.page-footer{
	position: absolute;
    bottom: 0;
	font-size: 14px;
	height: 65px;
	border-top: 1px solid #919191;
	width: 100%;
}

/*Tour Schedule*/
.table-row > td:nth-child(2){
	border-left: 2px solid black;
	border-right: 2px solid black;
}

/*News*/
.new-img{
	max-height: 400px;
}

.appeal{
	border-bottom: 2px solid black;
}
/*Animations*/
@keyframes slide_in{
	0% {transform: translateX(-100%);}
	75% {transform: translateX(50px);}
	100% { transform: translateX(0); }
}
@keyframes show_in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes nav{
	50% {transform: scale(0.8);}
	100% { transform: scale(1.1); }
}