html{
	font-family: "Lucida Console", Monaco, monospace !important;
}
#logo{
	max-height: 75px;
	animation: slide_in 0.7s forwards ease;
}
.nav-link:hover, .dropdown-item:hover {
	background-color: #ffb8c0;
	color: black;
	animation: nav 0.2s ;
	transform: scale(1.1);
}
.navbar, .dropdown-menu{
	font-size: 25px;
}
.nav-link, .dropdown-item{
	color: black !important;	
	border-radius: 30px;
}
li.dropdown:hover > .dropdown-menu{
	display: block;
}

/*content*/

.banner{
	animation: show_in 0.5s;
}
article > section{
	font-size: 18px;
}

.member{
	height: 20em;
}
.arrow{
	font-size: 2em;
}

.page-footer{
	font-size: 14px;
	border-top: 1px solid #919191;
}

/*Tour Schedule*/
.center-table{
	margin-top: 2em;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 10%;
}
.center-table > caption{
	margin-bottom: 1em;
	font-size: 25px;
	font-weight: bold;
}
.caption-row{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.table-row > td:nth-child(2){
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.table-row > td{
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 18px;
}
.table-row:nth-child(odd){
	background-color: #ffb8c0;
}

/*Animations*/
@keyframes slide_in{
	0% {transform: translateX(-100%);}
	75% {transform: translateX(50px);}
	100% { transform: translateX(0); }
}
@keyframes show_in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes nav{
	50% {transform: scale(0.8);}
	100% { transform: scale(1.1); }
}